{% extends "base.html" %}

{% load static %}

{% block title %}Contact me{% endblock %}

{% block content %}
<section class="contact-section bg-1">
        <div class="container">
  
          <div class="row">
  
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0 bla">Address</h4>
                  <hr class="my-4">
                  <div class="small text-black-50">17b Ivan Mykolaichuk Street, Ivano-Frankivsk UA</div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fas fa-envelope text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0 bla">Email</h4>
                  <hr class="my-4">
                  <div class="small text-black-50">
                    <a href="mailto:taras.sheketa@gmail.com">taras.sheketa@gmail.com</a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fas fa-mobile-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0 bla">Phone</h4>
                  <hr class="my-4">
                  <div class="small text-black-50">+38 (097) 912-09-63</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="social d-flex justify-content-center test">
            <a href="https://twitter.com/SheketaTaras" class="mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/taras.sheketa" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://github.com/MrKreg" class="mx-2">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/%D1%82aras-sheketa-b9a97a11a/" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://join.skype.com/invite/dlepUgLTJmMs" class="mx-2">
                <i class="fab fa-skype"></i>
            </a>
            <a href="https://www.instagram.com/tarassheketa/" class="mx-2">
                <i class="fab fa-instagram"></i>
            </a>
          </div>
  
        </div>
      </section>
{% endblock %}